[submodule "themes/fluid"]
	url = https://github.com/whymesay/hexo-theme-fluid
	branch = master
	path = themes/fluid
[submodule "themes/butterfly"]
	path = themes/butterfly
	url = https://github.com/whymesay/hexo-theme-butterfly
